## Data Loading & Initial Exploration

In [470]:
import pandas as pd
df = pd.read_csv("ev_charging_patterns.csv")
df

,User ID,Session ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Rate (kW),Charging Cost (USD),Time of Day,Day of Week,Charger Type,User Type
0,User_1,S1,BMW i3,108.463007,Station_391,Houston,2024-01-01 00:00:00,2024-01-01 00:39:00,60.712346,36.389181,13.087717,Evening,Tuesday,DC Fast Charger,Commuter
1,User_2,S2,Hyundai Kona,100.000000,Station_428,San Francisco,2024-01-01 01:00:00,2024-01-01 03:01:00,12.339275,30.677735,21.128448,Morning,Monday,Level 1,Casual Driver
2,User_3,S3,Chevy Bolt,75.000000,Station_181,San Francisco,2024-01-01 02:00:00,2024-01-01 04:48:00,19.128876,27.513593,35.667270,Morning,Thursday,Level 2,Commuter
3,User_4,S4,Hyundai Kona,50.000000,Station_327,Houston,2024-01-01 03:00:00,2024-01-01 06:42:00,79.457824,32.882870,13.036239,Evening,Saturday,Level 1,Long-Distance Traveler
4,User_5,S5,Hyundai Kona,50.000000,Station_108,Los Angeles,2024-01-01 04:00:00,2024-01-01 05:46:00,19.629104,10.215712,10.161471,Morning,Saturday,Level 1,Long-Distance Traveler
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17184,User_188,S14944,Tesla Model 3,85.000000,Station_42,Chicago,2024-08-28 22:25:00,2024-08-28 22:57:00,34.495018,63.413316,39.595868,Night,Wednesday,Level 2,Casual Driver
17185,User_455,S15479,BMW i3,62.000000,Station_309,Chicago,2024-08-28 22:52:00,2024-08-29 00:09:00,55.464865,42.672108,19.602962,Night,Wednesday,Level 1,Casual Driver
17186,User_925,S16414,Chevy Bolt,75.000000,Station_193,New York,2024-08-28 23:23:00,2024-08-29 00:10:00,21.004759,26.808462,32.856730,Night,Wednesday,DC Fast Charger,Commuter
17187,User_718,S15997,Nissan Leaf,50.000000,Station_197,Houston,2024-08-28 23:31:00,2024-08-29 03:19:00,18.052419,4.738732,36.484876,Night,Wednesday,DC Fast Charger,Casual Driver
17188,User_497,S15568,Chevy Bolt,100.000000,Station_145,Chicago,2024-08-28 23:46:00,2024-08-29 02:10:00,15.708519,6.528705,17.258435,Night,Wednesday,Level 1,Long-Distance Traveler

In [471]:
df.shape
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17189 entries, 0 to 17188
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   User ID                    17189 non-null  object
 1   Session ID                 17189 non-null  object
 2   Vehicle Model              17189 non-null  object
 3   Battery Capacity (kWh)     17189 non-null  float64
 4   Charging Station ID        17189 non-null  object
 5   Charging Station Location  17189 non-null  object
 6   Charging Start Time        17189 non-null  object
 7   Charging End Time          17189 non-null  object
 8   Energy Consumed (kWh)      17123 non-null  float64
 9   Charging Rate (kW)         17123 non-null  float64
 10  Charging Cost (USD)        17189 non-null  float64
 11  Time of Day                17189 non-null  object
 12  Day of Week                17189 non-null  object
 13  Charger Type               17189 non-null  object
 14  User Type                  17189 non-null  object
dtypes: float64(4), object(11)
memory usage: 2.0+ MB

,Battery Capacity (kWh),Energy Consumed (kWh),Charging Rate (kW),Charging Cost (USD)
count,17189.000000,17123.000000,17123.000000,17189.000000
mean,74.596728,40.950746,24.519545,22.578268
std,20.626986,23.867766,22.532827,10.871799
min,1.532807,0.045772,1.251206,0.212031
25%,62.000000,20.379560,9.236286,13.205961
50%,75.000000,40.800590,18.417138,22.050441
75%,85.000000,59.854824,31.965177,31.665490
max,193.003074,182.364140,266.010784,75.712481

In [472]:
df.columns

Index(['User ID', 'Session ID', 'Vehicle Model', 'Battery Capacity (kWh)',
       'Charging Station ID', 'Charging Station Location',
       'Charging Start Time', 'Charging End Time', 'Energy Consumed (kWh)',
       'Charging Rate (kW)', 'Charging Cost (USD)', 'Time of Day',
       'Day of Week', 'Charger Type', 'User Type'],
      dtype='object')

## Datetime Standardization

In [473]:
# converting with dayfirst=True to handle dd-mm confusion
df['Charging Start Time'] = pd.to_datetime(df['Charging Start Time'], dayfirst=True, errors='coerce')
df['Charging End Time'] = pd.to_datetime(df['Charging End Time'], dayfirst=True, errors='coerce')
#df

df['Date'] = df['Charging Start Time'].dt.date

# Recompute Day of Week from Date
df['Day of Week'] = pd.to_datetime(df['Date']).dt.day_name()

# Optional: check
print(df[['Date','Day of Week','Charging Start Time']].head())

         Date Day of Week Charging Start Time
0  2024-01-01      Monday 2024-01-01 00:00:00
1  2024-01-01      Monday 2024-01-01 01:00:00
2  2024-01-01      Monday 2024-01-01 02:00:00
3  2024-01-01      Monday 2024-01-01 03:00:00
4  2024-01-01      Monday 2024-01-01 04:00:00

## Feature Engineering – Charging Duration

In [474]:
df['Charging Duration (hours)'] = (df['Charging End Time'] - df['Charging Start Time']).dt.total_seconds() / 3600
df

,User ID,Session ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Rate (kW),Charging Cost (USD),Time of Day,Day of Week,Charger Type,User Type,Date,Charging Duration (hours)
0,User_1,S1,BMW i3,108.463007,Station_391,Houston,2024-01-01 00:00:00,2024-01-01 00:39:00,60.712346,36.389181,13.087717,Evening,Monday,DC Fast Charger,Commuter,2024-01-01,0.650000
1,User_2,S2,Hyundai Kona,100.000000,Station_428,San Francisco,2024-01-01 01:00:00,2024-01-01 03:01:00,12.339275,30.677735,21.128448,Morning,Monday,Level 1,Casual Driver,2024-01-01,2.016667
2,User_3,S3,Chevy Bolt,75.000000,Station_181,San Francisco,2024-01-01 02:00:00,2024-01-01 04:48:00,19.128876,27.513593,35.667270,Morning,Monday,Level 2,Commuter,2024-01-01,2.800000
3,User_4,S4,Hyundai Kona,50.000000,Station_327,Houston,2024-01-01 03:00:00,2024-01-01 06:42:00,79.457824,32.882870,13.036239,Evening,Monday,Level 1,Long-Distance Traveler,2024-01-01,3.700000
4,User_5,S5,Hyundai Kona,50.000000,Station_108,Los Angeles,2024-01-01 04:00:00,2024-01-01 05:46:00,19.629104,10.215712,10.161471,Morning,Monday,Level 1,Long-Distance Traveler,2024-01-01,1.766667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17184,User_188,S14944,Tesla Model 3,85.000000,Station_42,Chicago,2024-08-28 22:25:00,2024-08-28 22:57:00,34.495018,63.413316,39.595868,Night,Wednesday,Level 2,Casual Driver,2024-08-28,0.533333
17185,User_455,S15479,BMW i3,62.000000,Station_309,Chicago,2024-08-28 22:52:00,2024-08-29 00:09:00,55.464865,42.672108,19.602962,Night,Wednesday,Level 1,Casual Driver,2024-08-28,1.283333
17186,User_925,S16414,Chevy Bolt,75.000000,Station_193,New York,2024-08-28 23:23:00,2024-08-29 00:10:00,21.004759,26.808462,32.856730,Night,Wednesday,DC Fast Charger,Commuter,2024-08-28,0.783333
17187,User_718,S15997,Nissan Leaf,50.000000,Station_197,Houston,2024-08-28 23:31:00,2024-08-29 03:19:00,18.052419,4.738732,36.484876,Night,Wednesday,DC Fast Charger,Casual Driver,2024-08-28,3.800000
17188,User_497,S15568,Chevy Bolt,100.000000,Station_145,Chicago,2024-08-28 23:46:00,2024-08-29 02:10:00,15.708519,6.528705,17.258435,Night,Wednesday,Level 1,Long-Distance Traveler,2024-08-28,2.400000

In [475]:
df.isnull().sum()

User ID                       0
Session ID                    0
Vehicle Model                 0
Battery Capacity (kWh)        0
Charging Station ID           0
Charging Station Location     0
Charging Start Time           0
Charging End Time             0
Energy Consumed (kWh)        66
Charging Rate (kW)           66
Charging Cost (USD)           0
Time of Day                   0
Day of Week                   0
Charger Type                  0
User Type                     0
Date                          0
Charging Duration (hours)     0
dtype: int64

## Handling Missing Values

In [476]:
df['Charging Rate (kW)'] = df['Charging Rate (kW)'].fillna(df['Energy Consumed (kWh)'] / df['Charging Duration (hours)'])
df['Energy Consumed (kWh)'] = df['Energy Consumed (kWh)'].fillna(df['Charging Rate (kW)'] * df['Charging Duration (hours)'])
df

,User ID,Session ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Rate (kW),Charging Cost (USD),Time of Day,Day of Week,Charger Type,User Type,Date,Charging Duration (hours)
0,User_1,S1,BMW i3,108.463007,Station_391,Houston,2024-01-01 00:00:00,2024-01-01 00:39:00,60.712346,36.389181,13.087717,Evening,Monday,DC Fast Charger,Commuter,2024-01-01,0.650000
1,User_2,S2,Hyundai Kona,100.000000,Station_428,San Francisco,2024-01-01 01:00:00,2024-01-01 03:01:00,12.339275,30.677735,21.128448,Morning,Monday,Level 1,Casual Driver,2024-01-01,2.016667
2,User_3,S3,Chevy Bolt,75.000000,Station_181,San Francisco,2024-01-01 02:00:00,2024-01-01 04:48:00,19.128876,27.513593,35.667270,Morning,Monday,Level 2,Commuter,2024-01-01,2.800000
3,User_4,S4,Hyundai Kona,50.000000,Station_327,Houston,2024-01-01 03:00:00,2024-01-01 06:42:00,79.457824,32.882870,13.036239,Evening,Monday,Level 1,Long-Distance Traveler,2024-01-01,3.700000
4,User_5,S5,Hyundai Kona,50.000000,Station_108,Los Angeles,2024-01-01 04:00:00,2024-01-01 05:46:00,19.629104,10.215712,10.161471,Morning,Monday,Level 1,Long-Distance Traveler,2024-01-01,1.766667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17184,User_188,S14944,Tesla Model 3,85.000000,Station_42,Chicago,2024-08-28 22:25:00,2024-08-28 22:57:00,34.495018,63.413316,39.595868,Night,Wednesday,Level 2,Casual Driver,2024-08-28,0.533333
17185,User_455,S15479,BMW i3,62.000000,Station_309,Chicago,2024-08-28 22:52:00,2024-08-29 00:09:00,55.464865,42.672108,19.602962,Night,Wednesday,Level 1,Casual Driver,2024-08-28,1.283333
17186,User_925,S16414,Chevy Bolt,75.000000,Station_193,New York,2024-08-28 23:23:00,2024-08-29 00:10:00,21.004759,26.808462,32.856730,Night,Wednesday,DC Fast Charger,Commuter,2024-08-28,0.783333
17187,User_718,S15997,Nissan Leaf,50.000000,Station_197,Houston,2024-08-28 23:31:00,2024-08-29 03:19:00,18.052419,4.738732,36.484876,Night,Wednesday,DC Fast Charger,Casual Driver,2024-08-28,3.800000
17188,User_497,S15568,Chevy Bolt,100.000000,Station_145,Chicago,2024-08-28 23:46:00,2024-08-29 02:10:00,15.708519,6.528705,17.258435,Night,Wednesday,Level 1,Long-Distance Traveler,2024-08-28,2.400000

In [477]:
missing_values = df[df['Energy Consumed (kWh)'].isnull()]
missing_values

#df.isnull().sum()

,User ID,Session ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Rate (kW),Charging Cost (USD),Time of Day,Day of Week,Charger Type,User Type,Date,Charging Duration (hours)
265,User_266,S266,Tesla Model 3,100.0,Station_464,Los Angeles,2024-01-12 01:00:00,2024-01-12 04:48:00,NaN,NaN,23.599533,Morning,Friday,DC Fast Charger,Commuter,2024-01-12,3.800000
865,User_866,S866,Hyundai Kona,100.0,Station_196,San Francisco,2024-02-06 01:00:00,2024-02-06 02:38:00,NaN,NaN,21.591105,Evening,Tuesday,Level 1,Commuter,2024-02-06,1.633333
900,User_901,S901,Chevy Bolt,50.0,Station_428,San Francisco,2024-02-07 12:00:00,2024-02-07 13:41:00,NaN,NaN,13.488217,Night,Wednesday,Level 1,Commuter,2024-02-07,1.683333

In [478]:
df[['Energy Consumed (kWh)', 'Charging Rate (kW)']] = (
    df.groupby('Vehicle Model')[['Energy Consumed (kWh)', 'Charging Rate (kW)']]
      .transform(lambda x: x.fillna(x.median()))
)

df.isnull().sum()

User ID                      0
Session ID                   0
Vehicle Model                0
Battery Capacity (kWh)       0
Charging Station ID          0
Charging Station Location    0
Charging Start Time          0
Charging End Time            0
Energy Consumed (kWh)        0
Charging Rate (kW)           0
Charging Cost (USD)          0
Time of Day                  0
Day of Week                  0
Charger Type                 0
User Type                    0
Date                         0
Charging Duration (hours)    0
dtype: int64

## Duplicate Removal

In [479]:
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True)
df[['Energy Consumed (kWh)','Charging Duration (hours)','Charging Rate (kW)','Charging Cost (USD)']].describe()

,Energy Consumed (kWh),Charging Duration (hours),Charging Rate (kW),Charging Cost (USD)
count,17189.000000,17189.000000,17189.000000,17189.000000
mean,41.045428,2.228427,24.512605,22.578268
std,24.027322,1.007888,22.519769,10.871799
min,0.045772,0.500000,1.251206,0.212031
25%,20.387252,1.350000,9.237544,13.205961
50%,40.851669,2.216667,18.418634,22.050441
75%,59.909219,3.100000,31.959753,31.665490
max,207.672276,3.983333,266.010784,75.712481

In [480]:
df

,User ID,Session ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Rate (kW),Charging Cost (USD),Time of Day,Day of Week,Charger Type,User Type,Date,Charging Duration (hours)
0,User_1,S1,BMW i3,108.463007,Station_391,Houston,2024-01-01 00:00:00,2024-01-01 00:39:00,60.712346,36.389181,13.087717,Evening,Monday,DC Fast Charger,Commuter,2024-01-01,0.650000
1,User_2,S2,Hyundai Kona,100.000000,Station_428,San Francisco,2024-01-01 01:00:00,2024-01-01 03:01:00,12.339275,30.677735,21.128448,Morning,Monday,Level 1,Casual Driver,2024-01-01,2.016667
2,User_3,S3,Chevy Bolt,75.000000,Station_181,San Francisco,2024-01-01 02:00:00,2024-01-01 04:48:00,19.128876,27.513593,35.667270,Morning,Monday,Level 2,Commuter,2024-01-01,2.800000
3,User_4,S4,Hyundai Kona,50.000000,Station_327,Houston,2024-01-01 03:00:00,2024-01-01 06:42:00,79.457824,32.882870,13.036239,Evening,Monday,Level 1,Long-Distance Traveler,2024-01-01,3.700000
4,User_5,S5,Hyundai Kona,50.000000,Station_108,Los Angeles,2024-01-01 04:00:00,2024-01-01 05:46:00,19.629104,10.215712,10.161471,Morning,Monday,Level 1,Long-Distance Traveler,2024-01-01,1.766667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17184,User_188,S14944,Tesla Model 3,85.000000,Station_42,Chicago,2024-08-28 22:25:00,2024-08-28 22:57:00,34.495018,63.413316,39.595868,Night,Wednesday,Level 2,Casual Driver,2024-08-28,0.533333
17185,User_455,S15479,BMW i3,62.000000,Station_309,Chicago,2024-08-28 22:52:00,2024-08-29 00:09:00,55.464865,42.672108,19.602962,Night,Wednesday,Level 1,Casual Driver,2024-08-28,1.283333
17186,User_925,S16414,Chevy Bolt,75.000000,Station_193,New York,2024-08-28 23:23:00,2024-08-29 00:10:00,21.004759,26.808462,32.856730,Night,Wednesday,DC Fast Charger,Commuter,2024-08-28,0.783333
17187,User_718,S15997,Nissan Leaf,50.000000,Station_197,Houston,2024-08-28 23:31:00,2024-08-29 03:19:00,18.052419,4.738732,36.484876,Night,Wednesday,DC Fast Charger,Casual Driver,2024-08-28,3.800000
17188,User_497,S15568,Chevy Bolt,100.000000,Station_145,Chicago,2024-08-28 23:46:00,2024-08-29 02:10:00,15.708519,6.528705,17.258435,Night,Wednesday,Level 1,Long-Distance Traveler,2024-08-28,2.400000

## Save Cleaned data

In [482]:
# df.to_csv("ev_charging_data_cleaned.csv", index=False)
# dfs = pd.read_csv("ev_charging_data_cleaned.csv")
# dfs

#Users Dimension
users = df[['User ID', 'User Type']].drop_duplicates().reset_index(drop=True)
users.to_csv("dim_users.csv", index=False)


# Vehicles Dimension
# Create unique Vehicle Variant ID
df['Vehicle_Variant_ID'] = df.groupby(['Vehicle Model', 'Battery Capacity (kWh)']).ngroup() + 1
df['Vehicle_Variant_ID'] = "V" + df['Vehicle_Variant_ID'].astype(str)
dim_vehicles = df[['Vehicle_Variant_ID', 'Vehicle Model', 'Battery Capacity (kWh)']].drop_duplicates().reset_index(drop=True)
dim_vehicles.to_csv("dim_vehicles.csv", index=False)


# Charging Stations Dimension
# Create short unique Station Variant ID
df['Station_Variant_ID'] = df.groupby(['Charging Station ID', 'Charging Station Location', 'Charger Type']).ngroup() + 1
df['Station_Variant_ID'] = "S" + df['Station_Variant_ID'].astype(str)
dim_stations = df[['Station_Variant_ID', 'Charging Station ID', 'Charging Station Location', 'Charger Type']].drop_duplicates().reset_index(drop=True)
dim_stations.to_csv("dim_stations.csv", index=False)


#Time Dimension
df['Date'] = pd.to_datetime(df['Date']).dt.date
time_dim = df[['Date', 'Day of Week']].drop_duplicates().reset_index(drop=True)
time_dim.to_csv("dim_time.csv", index=False)


# Time of Day Dimension
dim_time_of_day = df[['Time of Day']].drop_duplicates().reset_index(drop=True)
dim_time_of_day['TimeOfDay_ID'] = range(1, len(dim_time_of_day)+1)
dim_time_of_day.to_csv("dim_time_of_day.csv", index=False)


# # Fact Table: Charging Sessions

# Merge TimeOfDay_ID
df = df.merge(dim_time_of_day, on='Time of Day', how='left')

# Create a proper copy of the slice
fact_sessions = df[['Session ID', 'User ID','Vehicle_Variant_ID','Station_Variant_ID', 'Date','TimeOfDay_ID',
                    'Charging Duration (hours)', 'Energy Consumed (kWh)', 'Charging Rate (kW)',
                    'Charging Cost (USD)']].copy()

# Round numeric columns safely
fact_sessions.loc[:, 'Charging Duration (hours)'] = fact_sessions['Charging Duration (hours)'].round(3)
fact_sessions.loc[:, 'Energy Consumed (kWh)'] = fact_sessions['Energy Consumed (kWh)'].round(3)
fact_sessions.loc[:, 'Charging Rate (kW)'] = fact_sessions['Charging Rate (kW)'].round(3)
fact_sessions.loc[:, 'Charging Cost (USD)'] = fact_sessions['Charging Cost (USD)'].round(2)

fact_sessions.to_csv("fact_charging_sessions.csv", index=False)
dfs=pd.read_csv("fact_charging_sessions.csv")
dfs
# print("Fact Table:\n", fact_sessions.head())

,Session ID,User ID,Vehicle_Variant_ID,Station_Variant_ID,Date,TimeOfDay_ID,Charging Duration (hours),Energy Consumed (kWh),Charging Rate (kW),Charging Cost (USD)
0,S1,User_1,V27,S784,2024-01-01,1,0.650,60.712,36.389,13.09
1,S2,User_2,V86,S887,2024-01-01,2,2.017,12.339,30.678,21.13
2,S3,User_3,V51,S243,2024-01-01,2,2.800,19.129,27.514,35.67
3,S4,User_4,V70,S622,2024-01-01,1,3.700,79.458,32.883,13.04
4,S5,User_5,V70,S36,2024-01-01,2,1.767,19.629,10.216,10.16
...,...,...,...,...,...,...,...,...,...,...
17184,S14944,User_188,V154,S862,2024-08-28,4,0.533,34.495,63.413,39.60
17185,S15479,User_455,V9,S574,2024-08-28,4,1.283,55.465,42.672,19.60
17186,S16414,User_925,V51,S273,2024-08-28,4,0.783,21.005,26.808,32.86
17187,S15997,User_718,V107,S281,2024-08-28,4,3.800,18.052,4.739,36.48
17188,S15568,User_497,V62,S130,2024-08-28,4,2.400,15.709,6.529,17.26